<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../style-cardapio.css" />
</head>

<body>
    <header>
    <div class="header">
        <nav class="menu-principal">
          <table class="tabela-menu" width=100%>
            <tr>
              <td>
                <div id="menu-mobile">
                  <nav role="navigation">
                    <div id="menuToggle" style="text-align: center;" >
                      <input type="checkbox"/>
                      <span></span>
                      <span></span>
                      <span></span>
                      <ul id="menu" style="text-align: left; padding-left:90px;">
                        <a href='../../components/sobre/index.html'>
                          <li>Sobre</li>
                        </a><br>
                        <div class="dropdown">
                          <button class="dropbtn" style="padding: 0;">
                            <li>Cardápio ▾</li>
                          </button>
                          <div class="dropdown-content">
                            <a href="../../novocardapio.html#page1">Indispensáveis</a>
                            <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                            <a href="../../novocardapio.html#page3">Copões</a>
                            <a href="../../novocardapio.html#page4">Tortinhas</a>
                            <a href="../../novocardapio.html#page5">Salgados</a>
                            <a href="../../novocardapio.html#page6">Bebidas</a>
                          </div>
                        </div>
                        <br>
                        <li><a href="../../components/promocoes/index.html">Promoções</a></li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <div id="menu-desktop">
                  <ul>
                    <li>
                      <a href='../../components/sobre/index.html'>Sobre</a>
                    </li>
                    <li>
                      <div class="dropdown">
                        <button class="dropbtn">Cardápio ▾</button>
                        <div class="dropdown-content">
                          <a href="../../novocardapio.html#page1">Indispensáveis</a>
                          <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                          <a href="../../novocardapio.html#page3">Copões</a>
                          <a href="../../novocardapio.html#page4">Tortinhas</a>
                          <a href="../../novocardapio.html#page5">Salgados</a>
                          <a href="../../novocardapio.html#page6">Bebidas</a>
  
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href='../../components/promocoes/index.html'>Promoções</a>
                    </li>
                  </ul>
              </td>
              <td style="text-align: center;">
                <a href="../../index.html">
                  <img class="logo" src="../../logo.png" width="80px" alt="logo">
                </a>
                </ul>
              </td>
              <td>
                <ul>
                  <li class="compras">
                    <a href='../../components/carrinho/index.html' style="text-decoration: none;" target="_blank">
                      <img class="carrinho" src="../../carrinho.png" width="30px"><span>Meu Pedido</span></a>
                </ul>
                </li>
              </td>
            </tr>
          </table>
          </ul>
        </nav>
      </div>
    </header>
    <main>
        <div style="padding-top: 20px;">
            <div style="padding: 10px 10px 10px 10px; display: inline-block;">
                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Páscoa
                    </h4>

                    <div class="slideshow-container">
                        <div class="mySlides1">
                            <img src="../../images/promocoes/pascoa/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides1">
                            <img src="../../images/promocoes/pascoa/a2.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides1">
                            <img src="../../images/promocoes/pascoa/a3.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Dia das Mães
                    </h4>
                    <div class="slideshow-container">
                        <div class="mySlides2">
                            <img src="../../images/promocoes/mae/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides2">
                            <img src="../../images/promocoes/mae/a2.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides2">
                            <img src="../../images/promocoes/mae/a3.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Dia dos Namorados
                    </h4>
                    <div class="slideshow-container">
                        <div class="mySlides3">
                            <img src="../../images/promocoes/namorados/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides3">
                            <img src="../../images/promocoes/namorados/a2.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlides3">
                            <img src="../../images/promocoes/namorados/a3.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                    </div>
                </div>
                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Dia dos Pais
                    </h4>
                    <div class="slideshow-container">
                        <div class="mySlide4">
                            <img src="../../images/promocoes/pais/a3.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlide4">
                            <img src="../../images/promocoes/pais/a2.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlide4">
                            <img src="../../images/promocoes/pais/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Dia dos Avós
                    </h4>
                    <div class="slideshow-container">
                        <div class="mySlide6">
                            <img src="../../images/promocoes/avos/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <h4 style="align-self: center; color: #946362; align-content: center; text-align: center;">
                        Natal
                    </h4>
                    <div class="slideshow-container">
                        <div class="mySlide5">
                            <img src="../../images/promocoes/natal/a3.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlide5">
                            <img src="../../images/promocoes/natal/a2.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <div class="mySlide5">
                            <img src="../../images/promocoes/natal/a1.jpeg" style="width:500px; height: 444px;">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var slideIndex = [1, 1, 1, 1, 1, 1];
        var slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlide4", "mySlide5", "mySlide6"];

        showSlides(1, 0);
        showSlides(1, 1);
        showSlides(1, 2);
        showSlides(1, 3);
        showSlides(1, 4);
        showSlides(1, 5);


        function plusSlides(n, no) {
            showSlides(slideIndex[no] += n, no);
        }

        function showSlides(n, no) {
            var i;
            var x = document.getElementsByClassName(slideId[no]);

            if (n > x.length) { slideIndex[no] = 1 }
            if (n < 1) { slideIndex[no] = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

            x[slideIndex[no] - 1].style.display = "block";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
        
<!--Rodapé-->
<footer>
<div class="footer">
    
      <div class="align-item: itens">
        <p> Contatos: </p>
  
        <div style="align-items: flex-end; display: flex; justify-content: center; padding-top: 10px;">
          <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon"
              src="../../images/174855.png" alt="new-logo"></a>
          <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon"
              src="../../images/124010.png" alt="new-logo"></a>
          <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank"><img class="logo-icon"
              src="../../images/989997.png" alt="new-logo"></a>
        </div>
      </div>
      <div class="corpyright-footer" style="padding-top: 10px;">
        Copyright 2021 © Ana Diniz Doceira
      </div>
    
  </div>
</footer>
</body>

</html>