<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sortcut icon" href="../../jpg/favicon-16x16.png" type="image/x-icon"/>
    <script src="dbfake.js"></script>
</head>

<body>
    <header>

        <nav class="menu-principal">
            <img class="logo" src="../../logo.png" alt="logo">
            <ul>
                <li>
                    <a class="ignore-sublime" href='../sobre/index.html'>Sobre</a>
                </li>
                
                <li>
                    <a class="ignore-sublime" href='../../index.html'>Cardápio</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='index.html'>Promoções</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='../carrinho/index.html'>Carrinho</a>
                </li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>Promoções</h1>

    </main>
    <footer>
        <div class="align-item: itens">
            <p> Contatos: </p>

            <div style="align-items: flex-end; display: flex; justify-content: center;">
                <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon" src="../../jpg/174855.png" alt="new-logo"></a>
                <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon" src="../../jpg/124010.png" alt="new-logo"></a>
                <a href='https://api.whatsapp.com/send?phone=5531998325314'target="_blank" ><img class="logo-icon" src="../../jpg/989997.png" alt="new-logo"></a>
            </div>
        </div>
        <div class="corpyright-footer" style="padding-top: 10px;">
            Copyright 2021 (c) Ana Diniz Doceira
        </div>
    </footer>

    <script>
        var prods = '';
        for (i = 0; i < db.dados.length; i++) {
            prods += `<p class="produto-item"> ${db.dados[i].titulo} <br> <img src="${db.dados[i].imagem}"> <br> ${db.dados[i].descricao} <br> R$: ${db.dados[i].preco} <br> </p>`;
        }
        document.getElementById('lista-produtos').innerHTML = prods;
        
    </script>
</body>

</html>