<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style-cardapio.css">
</head>

<body>
    <header>

        <nav class="menu-principal">
            <img class="logo" src="../../logo.png" alt="logo">
            <ul>
                <li>
                    <a class="ignore-sublime" href='../sobre/index.html'>Sobre</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='../../index.html'>Cardápio</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='index.html'>Promoções</a>
                </li>

                <div class="compras">
                    <a href='./components/carrinho/index.html' target="_blank">
                        <ol>
                            <li><img class="carrinho" src="images/carrinho.png"></li>
                            <li>Meu Pedido</li>
                        </ol>
                    </a>
                </div>

            </ul>
        </nav>
    </header>
    <main>
        <h1>Promoções</h1>

    </main>
    <footer>
        <div class="align-item: itens">
            <p> Contatos: </p>

            <div style="align-items: flex-end; display: flex; justify-content: center;">
                <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon"
                        src="../../images/174855.png" alt="new-logo"></a>
                <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon"
                        src="../../images/124010.png" alt="new-logo"></a>
                <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank"><img class="logo-icon"
                        src="../../images/989997.png" alt="new-logo"></a>
            </div>
        </div>
        <div class="corpyright-footer" style="padding-top: 10px;">
            Copyright 2021 (c) Ana Diniz Doceira
        </div>
    </footer>

</body>

</html>
