<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon"/>

    <script src="dbfake.js"></script>
</head>

<body>
    <header>
        <nav class="menu-principal">
            <img class="logo" src="../../logo.png" alt="logo">
            <ul>
                <li>
                    <a class="ignore-sublime" href='./index.html'>Sobre</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='../../index.html'>Cardápio</a>
                </li>

                <li>
                    <a class="ignore-sublime" href='../promocoes/index.html'>Promoções</a>
                </li>
                
                <div class="compras">
                    <a href='./components/carrinho/index.html' target="_blank"> </a>
                        <ol>
                            <li><img class="carrinho" src="../../images/carrinho.png"></li>
                            <li>Meu Pedido</li>
                        </ol>
                </div

              </ul>
        </nav>
    </header>
        <main>
            <h1>“A arte de fazer momentos doces”</h1>
            <p> 

                <br> <br> A Ana Diniz Doceria <b>surgiu no ano de 2016 com a Ana Diniz</b>, que também é professora de inglês, fazendo brownies e doces para presentear seus alunos. <br> 
                
                Desde então, começou a receber encomendas e conquistou todos com suas experiências culinárias e gostosuras. <br>  <br>             
                <i>A Ana Diniz não tinha conhecimento de confeitaria mas tinha <b>persistência, dedicação e muita vontade de aprender</b></i>. <br> <br> 
                
                Durante 4 anos utilizou a área gourmet do seu pai como sua cozinha, onde seguiu fazendo cursos e aperfeiçoando suas técnicas.<br> <br>
                 
                Desde então sua vida e de sua família estão engajadas nesse projeto, então, <b>em 2020 abriu sua loja física</b>, alterou o nome de Ana 
                Diniz Brownies para Ana Diniz Doceria e <br> especializou-se em adoçar vidas através de momentos e experiências únicas. <br> <br> <br> <br>
                 
                <span class = "destaque"> "Nos deixe adoçar os seus momentos mais especiais, venha curtir essa experiência com a gente. <br> Visite-nos ou se preferir, vamos até você". </span> </p>
        </main>
    <footer>
        <div class="align-item: itens">
            <p> Contatos: </p>

            <div style="align-items: flex-end; display: flex; justify-content: center;">
                <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon" src="../../images/174855.png" alt="new-logo"></a>
                <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon" src="../../images/124010.png" alt="new-logo"></a>
                <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank"><img class="logo-icon" src="../../images/989997.png" alt="new-logo"></a>
            </div>
        </div>
        <div class="corpyright-footer" style="padding-top: 10px;">
            Copyright 2021 (c) Ana Diniz Doceira
        </div>
    </footer>

   </body>

</html>
