<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ana Diniz</title>
  <link rel="stylesheet" href="style.css">
  <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <nav class="menu-principal">
        <table class="tabela-menu" width=100%>
          <tr>
            <td>
              <div id="menu-mobile">
                <nav role="navigation">
                  <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                      <a href='../../components/sobre/index.html'>
                        <li>Sobre</li>
                      </a><br>
                      <div class="dropdown">
                        <button class="dropbtn" style="padding: 0;">
                          <li>Cardápio ▾</li>
                        </button>
                        <div class="dropdown-content">
                          <a href="../../novocardapio.html#page1">Indispensáveis</a>
                          <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                          <a href="../../novocardapio.html#page3">Copões</a>
                          <a href="../../novocardapio.html#page4">Tortinhas</a>
                          <a href="../../novocardapio.html#page5">Salgados</a>
                          <a href="../../novocardapio.html#page6">Bebidas</a>
                        </div>
                      </div>
                      <br>
                      <li><a href="../../components/promocoes/index.html">Promoções</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div id="menu-desktop">
                <ul>
                  <li>
                    <a href='../../components/sobre/index.html'>Sobre</a>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button class="dropbtn">Cardápio ▾</button>
                      <div class="dropdown-content">
                        <a href="../../novocardapio.html#page1">Indispensáveis</a>
                        <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                        <a href="../../novocardapio.html#page3">Copões</a>
                        <a href="../../novocardapio.html#page4">Tortinhas</a>
                        <a href="../../novocardapio.html#page5">Salgados</a>
                        <a href="../../novocardapio.html#page6">Bebidas</a>

                      </div>
                    </div>
                  </li>
                  <li>
                    <a href='../../components/promocoes/index.html'>Promoções</a>
                  </li>
                </ul>
            </td>
            <td style="text-align: center;">
              <a href="../../index.html">
                <img class="logo" src="../../logo.png" width="80px" alt="logo">
              </a>
              </ul>
            </td>
            <td>
              <ul>
                <li class="compras">
                  <a href='../../components/carrinho/index.html' style="text-decoration: none;" target="_blank">
                    <img class="carrinho" src="../../carrinho.png" width="30px"><span>Meu Pedido</span></a>
              </ul>
              </li>
            </td>
          </tr>
        </table>
        </ul>
      </nav>

    </div>

    <div class="titulo">
      <p class="titulo-sobre">“A arte de fazer momentos doces”</p>
    </div>
    <div class="historia">
      <table class="tabela-texto-desktop">
        <tr>
          <td class="texto">
            A Ana Diniz Doceria <b>surgiu no ano de 2016 com a Ana Diniz</b>, que também é professora de
            inglês, fazendo brownies e doces para presentear seus alunos.
            Desde então, começou a receber encomendas e conquistou todos com suas experiências culinárias e
            gostosuras.
            <br><br><i>A Ana Diniz não tinha conhecimento de confeitaria mas tinha <b>persistência, dedicação e muita
                vontade de aprender</b></i>.
            Durante 4 anos utilizou a área gourmet do seu pai como sua cozinha, onde seguiu fazendo cursos e
            aperfeiçoando suas técnicas.
            <br><br>Desde então sua vida e de sua família estão engajadas nesse projeto, então, <b>em 2020 abriu sua
              loja
              física</b>, alterou o nome de Ana
            Diniz Brownies para Ana Diniz Doceria e especializou-se em adoçar vidas através de momentos e
            experiências únicas.
          </td>
          <td class="imagem-sobre">
            <img src="../../images/doceria.png">
          </td>
        </tr>
        <tr>
          <td class="subtitulo" colspan="2">
            <p class="destaque"> "Deixe-nos adoçar os seus momentos mais especiais, venha curtir essa experiência com a
              gente."</p>
            <br>
            <p class="destaque2">Visite-nos ou se preferir, vamos até você.</p>
          </td>
        </tr>
        <tr>
          <td class="mapa" colspan="2">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15019.535496933146!2d-44.3144333!3d-19.7600878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb25d15eb8b102ee!2sAna%20Diniz%20Doceria!5e0!3m2!1spt-BR!2sbr!4v1637119481288!5m2!1spt-BR!2sbr"
              width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </td>
        </tr>
      </table>
      <table class="tabela-texto-mobile">
        <tr>
          <td class="texto-mobile">
            A Ana Diniz Doceria <b>surgiu no ano de 2016 com a Ana Diniz</b>, que também é professora de
            inglês, fazendo brownies e doces para presentear seus alunos.
            Desde então, começou a receber encomendas e conquistou todos com suas experiências culinárias e
            gostosuras.
            <br><br><i>A Ana Diniz não tinha conhecimento de confeitaria mas tinha <b>persistência, dedicação e muita
                vontade de aprender</b></i>.
            Durante 4 anos utilizou a área gourmet do seu pai como sua cozinha, onde seguiu fazendo cursos e
            aperfeiçoando suas técnicas.
            <br><br>Desde então sua vida e de sua família estão engajadas nesse projeto, então, <b>em 2020 abriu sua
              loja
              física</b>, alterou o nome de Ana
            Diniz Brownies para Ana Diniz Doceria e especializou-se em adoçar vidas através de momentos e
            experiências únicas.
          </td>
        </tr>
        <tr>
          <td class="imagem-sobre-mobile">
            <img src="../../images/doceria.png">
          </td>
        </tr>
        <tr>
          <td class="subtitulo-mobile">
            <p class="destaque-mobile"> "Deixe-nos adoçar os seus momentos mais especiais, venha curtir essa experiência
              com a gente."</p>
            <br>
            <p class="destaque2-mobile">Visite-nos ou se preferir, vamos até você.</p>
          </td>
        </tr>
        <tr>
          <td class="mapa-mobile">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15019.535496933146!2d-44.3144333!3d-19.7600878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb25d15eb8b102ee!2sAna%20Diniz%20Doceria!5e0!3m2!1spt-BR!2sbr!4v1637119481288!5m2!1spt-BR!2sbr"
              width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--Botão Flutuante-->

  <div class="fab">
    <button class="main">
    </button>
    <ul>
      <li>
        <button id="opcao1">
          <a href='https://www.instagram.com/anadinizdoceria/' target="_blank">
            <img src="../../images/contato/Instagram.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
      <li>
        <button id="opcao2">
          <a href='https://www.facebook.com/anadinizbrownies/' target="_blank">
            <img src="../../images/contato/facebook.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
      <li>
        <button id="opcao3">
          <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank">
            <img src="../../images/contato/whatsapp.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
    </ul>
  </div>
  <script>
    function toggleFAB(fab) {
      if (document.querySelector(fab).classList.contains('show')) {
        document.querySelector(fab).classList.remove('show');
      } else {
        document.querySelector(fab).classList.add('show');
      }
    }
    document.querySelector('.fab .main').addEventListener('click', function () {
      toggleFAB('.fab');
    });
    document.querySelectorAll('.fab ul li button').forEach((item) => {
      item.addEventListener('click', function () {
        toggleFAB('.fab');
      });
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
<footer>
    <div class="footer">
        <p>
          Copyright 2021 © Ana Diniz Doceira
        </p>
    </div>
</footer>
</body>

</html>
