body{
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr 1fr 0.9fr;
    grid-template-rows: 0.6fr 0.1fr 3.0fr 0.1fr 0.7fr 0.7fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }

  .grid {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }

  .grid-template-columns {
    grid-template-columns: 200px 200px;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  
  .carrossel { grid-area: 3 / 2 / 4 / 5; }
  
  .itema { grid-area: 5 / 2 / 6 / 3; }
  
  .itemb { grid-area: 5 / 3 / 6 / 4; }
  
  .itemc { grid-area: 5 / 4 / 6 / 5; }
  
  .itemd { grid-area: 6 / 2 / 7 / 3; }
  
  .iteme { grid-area: 6 / 3 / 7 / 4; }
  
  .itemf { grid-area: 6 / 4 / 7 / 5; }
  
  .footer { grid-area: 7 / 1 / 8 / 6; }
  
  .itenscardapio { grid-area: 5 / 2 / 7 / 5; }


/*Cabeçalho site*/
.header { 
  position: sticky;   
  position: -webkit-sticky; /* Safari */
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: #f1e7e3;
  box-shadow: 0 3px 3px -2px #989898;
}

.logo {
  vertical-align: middle;
  text-align: center;
}

.tabela-menu td {
  width: 33.333%;
}

.menu-principal ul li {
  display: inline-block;
  text-align: left;
  color: #946362;
  padding-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin-top: 6px;
}

.menu-principal ul li a {
  text-decoration: none;
}

.menu-principal ul li:hover {
  text-decoration: none;
}

.menu-principal ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.menu-principal a:hover {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none !important;
  color: #946362; 

}

.compras {
  float: right;
  margin-right: 40px;

}

.compras:hover {
  background: none !important;
  color: #946362 !important;
}

.compras a:hover {
  color: #946362;
}

.carrinho {
  
  margin-right: 5px;
  vertical-align:middle;
}

/*dropdown menu*/

.dropbtn {
  background-color: transparent;
  color: #946362;
  font-size: 16px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* posição <div> do conteudo dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Conteudo oculto Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links dropdown */
.dropdown-content a{
  color: #946362;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* dropdown menu hover */
.dropdown-content a:hover {
    background: #f4d9d0;
    
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*menu mobile*/

#menu-mobile {
  display: none;
}


/*Carrosel*/
  
  .slider{
    width: 100%;
    max-width: 900px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 450px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 450px;
  }
  
  /*css para navegação manual*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: white;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css para navegação automatica*/
  
  .navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 410px;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
  }


/*Itens cardápio*/
.imagem-teste {
    justify-self: stretch;
    justify-self: center;
}

.itema, .itemb, .itemc, .itemd, .iteme, .itemf {
    text-align: center;
    padding: 20px;
    background: #f2e9e4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 5px;
    border-radius: 10px;
    max-width: 300px;
}

.itema p, .itemb p, .itemc p, .itemd p, .iteme p, .itemf p{
    margin-block-start: 5px;
    margin-block-end: 0;
}

.itema:hover, .itemb:hover, .itemc:hover, .itemd:hover, .iteme:hover, .itemf:hover{
    background: #f4d9d0;
}

.linkcardapio {
  text-decoration: none;
  color: #946362;
}

/*botao flutuante*/
.fab{
  position: fixed;
  bottom:30px;
  right:40px;
}

.fab button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  color: white;
    
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab button:focus{
  outline: none;
}

.fab button.main{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #f1e7e3;
  right: 0;
  bottom: 0;
  z-index: 20;
  box-shadow: 0 3px 4px rgba(0,0,0,.5);
}

.fab button.main:before{
  content: url("iconebotao.png");
}

.fab ul{
  position:absolute;
  bottom: 0;
  right: 0;
  padding:0;
  padding-right:10px;
  margin:0;
  list-style:none;
  z-index:10;
  
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab ul li{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: -10%;
  opacity: 0;
  
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  transition: .3s ease-out;
}

.fab.show button.main,
.fab.show button.main{
  outline: none;
  background-color: #f1e7e3;
  box-shadow: 0 3px 8px rgba(0,0,0,.5);
 }
 
.fab.show button.main:before,
.fab.show button.main:before{
  content: '↑';
  color: #946362;
  font-size: 24px;
}

.fab.show button.main + ul,
.fab.show button.main + ul{
  bottom: 70px;
}

.fab.show button.main + ul li,
.fab.show button.main + ul li{
  margin-bottom: 10px;
  opacity: 1;
}

.fab.show button.main {
  opacity: 1;
}

/* Rodapé do site */

.footer {
  clear: both;
  color: white;
  background-color: #946362;
  text-align: center;
  padding-top: 0%;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.logo-icon {
  width: 30px;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fab{
    position: fixed;
    bottom:30px;
    right:20px;
  }

  .footer {
    width: 100%;
  }

  #menu-desktop {
    display: none;
  }

  .menu-principal ul li {
    padding: 0;
  }
  

  /*menu mobile*/
  #menu-mobile {
    display: block;
  }

  #menu .dropdown-content {
    font-family: sans-serif;
  }
  
  .compras span {
    display: none;
  }

  #menuToggle {
  display: block;
  position: relative;
  margin-left: 45%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #946362;
  transition: color 0.3s ease;
  
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the icon */
  
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #d29697;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #946362;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -75px;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 10px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu .dropdown-content a {
  font-size: 20px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*carrossel*/
.slider {
  height: 200px;
}

.slides img {
  height: 200px;
}

/*css para navegação manual*/
  
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -270px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}


/*css para navegação automatica*/

.navigation-auto{
  position: absolute;
  width: 100%;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.itema, .itemb, .itemc,
.itemd, .iteme, .itemf {
  min-width:35%; 
    
}
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	display: grid;
}

  


}