<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="sortcut icon" href="./images/favicon-16x16.png" type="image/x-icon" />
  <title>Ana Diniz Doceria</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="style.css">
  <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</head>

<body onload="findAll()">
  <div class="container">
    <div class="header">
      <nav class="menu-principal">
        <table class="tabela-menu" width=100%>
          <tr>
            <td>
              <div id="menu-mobile">
                <nav role="navigation">
                  <div id="menuToggle" style="text-align: center;">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu" style="text-align: left; padding-left:90px;">
                      <a href='../../components/sobre/index.html'>
                        <li>Sobre</li>
                      </a><br>
                      <div class="dropdown">
                        <button class="dropbtn" style="padding: 0;">
                          <li>Cardápio ▾</li>
                        </button>
                        <div class="dropdown-content">
                          <a href="../../novocardapio.html#page1">Indispensáveis</a>
                          <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                          <a href="../../novocardapio.html#page3">Copões</a>
                          <a href="../../novocardapio.html#page4">Tortinhas</a>
                          <a href="../../novocardapio.html#page5">Salgados</a>
                          <a href="../../novocardapio.html#page6">Bebidas</a>
                        </div>
                      </div>
                      <br>
                      <li><a href="../../components/promocoes/index.html">Promoções</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div id="menu-desktop">
                <ul>
                  <li>
                    <a style="color: #946362;" href='../../components/sobre/index.html'>Sobre</a>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button class="dropbtn">Cardápio ▾</button>
                      <div class="dropdown-content">
                        <a href="../../novocardapio.html#page1">Indispensáveis</a>
                        <a href="../../novocardapio.html#page2">Coxinhas doces</a>
                        <a href="../../novocardapio.html#page3">Copões</a>
                        <a href="../../novocardapio.html#page4">Tortinhas</a>
                        <a href="../../novocardapio.html#page5">Salgados</a>
                        <a href="../../novocardapio.html#page6">Bebidas</a>

                      </div>
                    </div>
                  </li>
                  <li>
                    <a style="color: #946362;" href='../../components/promocoes/index.html'>Promoções</a>
                  </li>
                </ul>
            </td>
            <td style="text-align: center;">
              <a href="../../index.html">
                <img class="logo" src="../../logo.png" width="80px" alt="logo">
              </a>
              </ul>
            </td>
            <td>
              <ul>
                <li class="compras">
                  <a href='../../components/carrinho/index.html' style="text-decoration: none;" target="_blank">
                    <img class="carrinho" src="../../carrinho.png" width="30px"><span>Meu Pedido</span></a>
              </ul>
              </li>
            </td>
          </tr>
        </table>
        </ul>
      </nav>

    </div>
    <div class="titulo">
      <img src="../../carrinho.png" style="vertical-align: middle;">
      <h1 style="display: inline;">Carrinho</h1>
    </div>
    <main>

      <h2 class="seupedido">Seu Pedido</h2>
      <div class="row">
        <div class="col-50">
          <table class="table" id="table">
            <thead>
              <tr>
                <th class="codigo">#</th>
                <th class="produto" >Produto</th>
                <th class="valor">Valor (Un.)</th>
                <th class="quantidade">Quantidade</th>
                <th class="valortotal">Valor Total</th>
                <th class="botoes"></th>
                <th class="sabor" style="width: 5%; white-space: nowrap; padding-right: 20px;">Sabor do Produto</th>
              </tr>
            </thead>
            <tbody id='produto-list'>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </main>
  <!--  Modal apresentada para solicitar os dados para preenchimento do formulário -->
  <div class="w3-container" style="text-align: center;" onload="findAll()">
    <div style="display: inline !important;">
      <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Finalizar pedido</button>
      <button onclick="resetCart()" class="btn1">Limpar Carrinho</button>
    </div>


    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:100%">

        <div class="w3-center"><br>
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        </div>

        <form class="w3-container" action="/action_page.php">
          <div class="w3-section">
            <h3>
              Finalize seu pedido</h3>
            <fieldset>
              <h3>Itens confirmados no pedido</h3>
              <div class="modal-body">
                <form id="produto-form" method="post" action="">
                  <div class="row">
                    <div class="col-50">
                      <table class="table" id="table">
                        <thead>
                          <tr>
                            <th class="codigo">#</th>
                            <th class="produto">Produto</th>
                            <th class="valor">Valor (Un.)</th>
                            <th class="quantidade">Quantidade</th>
                            <th class="valortotal">Valor Total</th>
                            <th class="botoes">Sabor do Produto</th>
                          </tr>
                        </thead>
                        <tbody id='produto-carrinho-list'>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>

            </fieldset>
            <fieldset>
              <div class="modal-body">
                <div class="form-group">
                  <h3>Dados</h3>
                  <label for="nome" class="col-form-label"><strong>Nome:</strong></label>
                  <input type="text" class="form-control" name="Name" id="name" size="20" maxlenght="30"
                    placeholder=" Nome Completo" required>
                </div>
                <p></p>
                <div class="form-group">
                  <label for="telefone" class="col-form-label"><strong>Telefone:</strong></label>
                  <input type="tel" name="Phone" class="form-control" id="phone" size="11"
                    placeholder="(DDD) + nº telefone" required>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="modal-body">
                <div class="form-group">
                  <div style="margin-bottom: 5px;">
                    <h3>Dados para Entrega</h3>
                    <label for="entrega" class="col-form-label"><strong>Entrega/Retirada:</strong></label>
                    <select id="entrega" required>
                      <option selected disabled value="">Selecione a forma de entrega:</option>
                      <option>Retirada</option>
                      <option>Entrega</option>
                    </select>
                  </div>
                  <br>
                  <small>Se a escolha for entrega, preencha os dados de endereço abaixo</small>
                </div>
                <div class="form-group">
                  <label for="cep"><strong>CEP</strong></label>
                  <input type="text" class="form-control" maxlength="9" id="cep" placeholder="00000-000" required>
                  <br>
                </div>
                <p></p>
                <div class="form-group">
                  <label for="endereco" class="col-form-label"><strong>Endereço para entrega:</strong></label>
                  <input type="text" class="form-control" id="logradouro" placeholder="Av., Rua....">
                  <p><label for="numero"><strong>Número:</strong></label></p>
                  <input type="number" class="form-control" id="numero" min="0" max="99999">
                </div>
                <p></p>
                <div class="form-group">
                  <label for="bairro" class="col-form-label"><strong>Bairro:</strong></label>
                  <input type="text" class="form-control" name="Bairro" id="bairro">

                </div>
                <p></p>
                <div class="form-group">
                  <label for="localidade" class="col-form-label"><strong>Localidade:</strong></label>
                  <input type="text" class="form-control" name="Localidade" id="localidade" placeholder="Cidade">
                  <br>
                </div>
                <p></p>
                <div class="form-group">
                  <label for="uf" class="col-form-label"><strong>UF:</strong></label>
                  <input type="text" class="form-control" name="UF" id="uf" placeholder="Estado">
                  <br>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="modal-body">
                <div class="form-group">
                  <label for="taxaentrega" class="col-form-label"><strong>Taxa de Entrega:</strong></label>
                  <select style="width: 280px;" id="taxaentrega" required onchange="incrementTaxValue()">
                    <option selected disabled value="">Selecione a taxa de entrega:</option>
                    <option>R$ 1,50 - Bairros: Castelo Branco, Fernão Dias</option>
                    <option>R$ 5,00 - Bairro: Dumaville</option>
                    <option>R$ 3,00 - Bairro: Fernão Dias</option>
                  </select>
                </div>
                <p></p>
                <div class="form-group">
                  <label for="pagamento"><strong>Formas de Pagamento:</strong></label>
                  <select id="pagamento" required>
                    <option selected disabled value="">Selecione forma de pagamento:</option>
                    <option>Cartão de Crédito</option>
                    <option>Cartão de Débito</option>
                    <option>Dinheiro</option>
                    <option>PIX</option>
                  </select>
                </div>
                <p></p>
                 <div class="form-group">
                            <label for="pagamento"><strong>Precisa de Troco?</strong></label>
                            <select id="troco" required>
                    <option selected disabled value="">Selecione se precisa de troco:</option>
                    <option>Sim</option>
                    <option>Não</option>
                   </select>
              </div>
            </fieldset>
            <fieldset>
              <div class="modal-body">
                <div class="form-group">
                  <p><label for="msg"><strong>Mensagem do Cliente:</strong></label>
                    <textarea name="tMsg" id="mensagem" cols="45"></textarea>
                  </p>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="modal-body">
                <div class="form-group">
                  <p><label for="msg"><strong>Valor Final do Pedido:</strong></label>
                    <div id='total-pedido-value'></div>
                  </p>
                </div>
              </div>
            </fieldset>
            <p></p>
            <div class="modal-footer">
              <div class="w3-container w3-center">
                <button  onclick="gotowhatsapp()" type="submit" name="submit" value="Submit" class="btn1">Enviar pedido</button>
                <button onclick="document.getElementById('id01').style.display='none'" class="btn1">Continuar Comprando</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <script src="main.js"></script>
  <!-- // Associar salvamento ao botao
-->
  <script> document.getElementById('btn_salvar').addEventListener('click', salvaLogin);
  </script>

  <!--// Associar envio whatsapp -->

  <script>
      $(document).ready(function() {
          toastr.options.timeOut = 1500; // 1.5s
          toastr.progressBar = true;
          toastr.preventDuplicates = true;
        });
    

    function gotowhatsapp() {
      var name = document.getElementById("name").value;
      var phone = document.getElementById("phone").value;
      var entrega = document.getElementById("entrega").value;
      var cep = document.getElementById("cep").value;
      var logradouro = document.getElementById("logradouro").value;
      var numero = document.getElementById("numero").value;
      var bairro = document.getElementById("bairro").value;
      var localidade = document.getElementById("localidade").value;
      var uf = document.getElementById("uf").value;
      var taxaentrega = document.getElementById("taxaentrega").value;
      var pagamento = document.getElementById("pagamento").value;
      var troco = document.getElementById("troco").value;
      var mensagem = document.getElementById("mensagem").value;
      var infoPedido = getPedido()

      var url = "https://wa.me/5531998325314?text="
        + "Name: " + name + "%0a"
        + "Phone: " + phone + "%0a"
        + "Entrega: " + entrega + "%0a"
        + "Cep: " + cep + "%0a"
        + "Logradouro: " + logradouro + "%0a"
        + "Bairro: " + bairro + "%0a"
        + "Localidade: " + localidade + "%0a"
        + "UF: " + uf + "%0a"
        + "Taxaentrega: " + taxaentrega + "%0a"
        + "Pagamento: " + pagamento + "%0a"
        + "troco: " + troco + "%0a"
        + "tMsg: " + mensagem + "%0a"
        + "Info do Pedido: " + infoPedido + "%0a"
      window.open(url, '_blank').focus();
    }
  </script>


  <!--botão Flutuante-->
  <div class="fab">
    <button class="main">
    </button>
    <ul>
      <li>

        <button id="opcao1">
          <a href='https://www.instagram.com/anadinizdoceria/' target="_blank">
            <img src="../../images/contato/Instagram.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
      <li>

        <button id="opcao2">
          <a href='https://www.facebook.com/anadinizbrownies/' target="_blank">
            <img src="../../images/contato/facebook.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
      <li>

        <button id="opcao3">
          <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank">
            <img src="../../images/contato/whatsapp.png" style="vertical-align: middle;" width="45px">
          </a>
        </button>
      </li>
    </ul>
  </div>
  <script>
    function toggleFAB(fab) {
      if (document.querySelector(fab).classList.contains('show')) {
        document.querySelector(fab).classList.remove('show');
      } else {
        document.querySelector(fab).classList.add('show');
      }
    }

    document.querySelector('.fab .main').addEventListener('click', function () {
      toggleFAB('.fab');
    });

    document.querySelectorAll('.fab ul li button').forEach((item) => {
      item.addEventListener('click', function () {
        toggleFAB('.fab');
      });
    });
  </script>
  </div>
  </div>

  <!--Rodapé-->
  <footer>
    <div class="footer">
      <p>
        Copyright 2021 © Ana Diniz Doceira
      </p>
    </div>
  </footer>

</body>

</html>
