<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon" />
    <!-- BOOSTRAP e JQUERY -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <header>

        <nav class="menu-principal">
            <img class="logo" src="../../logo.png" alt="logo">
            <ul>
                <li>
                    <a class="ignore-sublime" href='../sobre/index.html'>Sobre</a>
                </li>

                <li>
                    <a class="dropdown-toggle botaocardapio" data-toggle="dropdown" id="dropdown-cardapio" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">Cardápio</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../index.html#indispensaveis"
                            target="_blank">Indispensáveis</a>
                        <a class="dropdown-item" href="../../index.html#coxinhasdoces">Coxinhas Doces</a>
                        <a class="dropdown-item" href="../../index.html#copoes">Copões</a>
                        <a class="dropdown-item" href="../../index.html#tortinhas">Tortinhas</a>
                        <a class="dropdown-item" href="../../index.html#salgados">Salgados</a>
                        <a class="dropdown-item" href="../../index.html#bebidas">Bebidas</a>
                    </div>
                </li>
                <!--
                <li>
                    <a class="ignore-sublime" href='../promocoes/index.html'>Promoções</a>
                </li>
                -->
                <li>
                    <a class="ignore-sublime">Promoções</a>
                </li>

                <div class="compras">
                    <a href='./components/carrinho/index.html' target="_blank">
                        <ol>
                            <li><img class="carrinho" src="../../images/carrinho.png"></li>
                            <li>Meu Pedido</li>
                        </ol>
                    </a>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Carrinho</h1>

    </main>
    <div style="padding-top: 5%;" class="container">
        <br />
        <h2>
            Meu Pedido
            <a onclick="getProduto(0)" class="btn btn-success btn-sm" style="float:right" data-toggle="modal"
                data-target="#produto-modal">
                <i class="fa fa-plus"></i> Adicionar
            </a>
        </h2>
        <hr />
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width=5%>#</th>
                            <th width=30%>Produto</th>
                            <th width=15%>Valor (Un.)</th>
                            <th width=15%>Quantidade</th>
                            <th width=15%>Valor Total</th>
                            <th width=20%></th>
                        </tr>
                    </thead>
                    <tbody id='produto-list'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--
            Modal apresentada para solicitar confirmação do usuário quanto à remoção dos dados
        -->
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de remoção</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você realmente deseja remover o produto <span id="id-prod"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btn-delete">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal apresentada para solicitar os dados para preenchimento do formulário -->

    <div class="modal fade" id="produto-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Meu Pedido <span id="edit-prod-id"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="produto-form" method="post" action="">
                       <div class="form-group">
                            <label for="produto-nome" class="col-form-label">Produtos:</label>
                            <input type="text" class="form-control" id="produto-nome" required>
                        </div>
                        <div class="form-group">
                            <label for="produto-vlr" class="col-form-label">Valor:</label>
                            <input type="number" step="0.01" class="form-control" id="produto-vlr" required>
                        </div>
                        <div class="form-group">
                            <label for="produto-qtd" class="col-form-label">Quantidade:</label>
                            <input type="number" class="form-control" id="produto-qtd" required>
                        </div>
                        <div class="form-group">
                            <label for="nome" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="telefone" class="col-form-label">Telefone:</label>
                            <input type="number" class="form-control" id="Número de Telefone" required>
                        </div>
                        <div class="form-group">
                            <label for="entrega" class="col-form-label">Entrega/Retirada:</label>
                            <label>
                                <input type="radio" name="Entrega" value="retirada">Retirada
                            </label>
                                <label>
                                <input type="radio" name="Entrega" value="entrega" checked>Entrega
                            </label>
                            </div>
                        <div class="form-group">
                            <label for="endereco" class="col-form-label">Endereço para entrega:</label>
                            <input type="text" class="form-control" id="endereco" required>
                        </div>
                        <div class="form-group">
                            <label for="taxaentrega" class="col-form-label">Taxa de Entrega:</label>
                            <input type="number" step="0.01" class="form-control" id="taxa-vlr" required>
                        </div>
                        <div class="form-group">
                            <label for="pagamento"><strong>Formas de Pagamento:</strong></label>
                            <label>
                            <input type="radio" name="pagamento" value="credito" checked>Cartão de Crédito
                            </label>
                            <label>
                            <input type="radio" name="pagamento" value="debito">Cartão de Débito
                            </label>
                            <label>
                            <input type="radio" name="pagamento" value="dinheiro">Dinheiro
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="/index.html" class="btn btn-outline-success btn-lg">Continuar Comprando</a>
                        <button class="btn btn-danger btn-lg">Finalizar Compra</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
<footer>
    <div class="align-item: itens">
        <p> Contatos: </p>

        <div style="align-items: flex-end; display: flex; justify-content: center;">
            <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon"
                    src="../../images/174855.png" alt="new-logo"></a>
            <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon"
                    src="../../images/124010.png" alt="new-logo"></a>
            <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank"><img class="logo-icon"
                    src="../../images/989997.png" alt="new-logo"></a>
        </div>
    </div>
    <div class="corpyright-footer" style="padding-top: 10px;">
        Copyright 2021 (c) Ana Diniz Doceira
    </div>
</footer>

</body>

</html>
