<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Diniz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sortcut icon" href="../../images/favicon-16x16.png" type="image/x-icon" />
    <!-- BOOSTRAP e JQUERY -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <header>

        <nav class="menu-principal">
            <img class="logo" src="../../logo.png" alt="logo">
            <ul>
                <li>
                    <a class="ignore-sublime" href='../sobre/index.html'>Sobre</a>
                </li>

                <li>
                    <a class="dropdown-toggle botaocardapio" data-toggle="dropdown" id="dropdown-cardapio" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">Cardápio</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../index.html#indispensaveis"
                            target="_blank">Indispensáveis</a>
                        <a class="dropdown-item" href="../../index.html#coxinhasdoces">Coxinhas Doces</a>
                        <a class="dropdown-item" href="../../index.html#copoes">Copões</a>
                        <a class="dropdown-item" href="../../index.html#tortinhas">Tortinhas</a>
                        <a class="dropdown-item" href="../../index.html#salgados">Salgados</a>
                        <a class="dropdown-item" href="../../index.html#bebidas">Bebidas</a>
                    </div>
                </li>
                <!--
                <li>
                    <a class="ignore-sublime" href='../promocoes/index.html'>Promoções</a>
                </li>
                -->
                <li>
                    <a class="ignore-sublime">Promoções</a>
                </li>

                <div class="compras">
                    <a href='./components/carrinho/index.html' target="_blank">
                        <ol>
                            <li><img class="carrinho" src="../../images/carrinho.png"></li>
                            <li>Meu Pedido</li>
                        </ol>
                    </a>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Carrinho</h1>

    </main>
    <div style="padding-top: 5%;" class="container">
        <br />
        <h2>
            Meu Pedido
            <a onclick="getProduto(0)" style="float:right" data-toggle="modal"
                data-target="#produto-modal">
                <button class style="background: #a08686; border-radius: 6px; padding: 12px; cursor: pointer; color: #fff; border: none; font-size: 13px">Adicionar</button>
            </a>
        </h2>
        <hr />
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width=5%>#</th>
                            <th width=30%>Produto</th>
                            <th width=15%>Valor (Un.)</th>
                            <th width=15%>Quantidade</th>
                            <th width=15%>Valor Total</th>
                            <th width=20%></th>
                        </tr>
                    </thead>
                    <tbody id='produto-list'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--
            Modal apresentada para solicitar confirmação do usuário quanto à remoção dos dados
        -->
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de remoção</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você realmente deseja remover o produto <span id="id-prod"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btn-delete">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal apresentada para solicitar os dados para preenchimento do formulário -->

    <div class="modal fade" id="produto-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Meu Pedido <span id="edit-prod-id"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                   <div class="modal-body">
                    <form id="produto-form" method="post" action="">
                       <div class="form-group">
                           <label for="produto-nome" class="col-form-label"><strong>Produto:</strong></label>
                            <input type="text" class="form-control" id="produto-nome" required>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="produto-vlr" class="col-form-label"><strong>Valor:</strong></label>
                            <input type="text" class="form-control" id="produto-vlr" required>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="produto-qtd" class="col-form-label"><strong>Quantidade:</strong></label>
                            <input type="number" class="form-control" id="produto-qtd" required>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="nome" class="col-form-label"><strong>Nome:</strong></label>
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="telefone" class="col-form-label"><strong>Telefone:</strong></label>
                            <input type="tel" name="phone" class="form-control" id="Número de Telefone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"required>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="entrega" class="col-form-label"><strong>Entrega/Retirada:</strong></label>
                            <label>
                                <input type="radio" name="Entrega" value="retirada">Retirada
                            </label>
                                <label>
                                <input type="radio" name="Entrega" value="entrega" checked>Entrega
                            </label>
                            <br>
                            <small>Se a escolha for entrega, preencha os dados de endereço abaixo</small>
                            </div>
                            <p></p>
                        <div class="form-group">
                                    <label for="cep"><strong>CEP</strong></label>
                                    <input type="text" class="form-control" maxlength="9" id="cep"  required>
                                    <br>
                                    <small>00000-000</small>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label for="endereco" class="col-form-label"><strong>Endereço para entrega:</strong></label>
                                    <input type="text" class="form-control" id="logradouro" >
                                    <br>
                                    <small>Av., Rua, Número, casa ...</small>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label for="bairro" class="col-form-label"><strong>Bairro:</strong></label>
                                    <input type="text" class="form-control" id="bairro" >
                                    
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label for="localidade" class="col-form-label"><strong>Localidade:</strong></label>
                                    <input type="text" class="form-control" id="localidade">
                                    <br>
                                    <small>Cidade</small>
                                </div>
                                <p></p>
                        <div class="form-group">
                            <label for="uf" class="col-form-label"><strong>UF:</strong></label>
                            <input type="text" class="form-control" id="uf">
                            <br>
                            <small>Estado</small>
                            <p></p>
                        <div class="form-group">
                            <label for="taxaentrega" class="col-form-label"><strong>Taxa de Entrega:</strong></label>
                              <select id="taxaentrega" required>
                                  <option selected disabled value="">Selecione o valor da taxa de entrega:</option>
                                  <option>R$ 1,50 </option><small>Bairros: Castelo Branco, Fernão Dias</small>
                                  <option>R$ 5,00 - Bairro: Dumaville</option>
                                  <option>R$ 3,00 - Bairro: Fernão Dias</option>
                                </select>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="pagamento"><strong>Formas de Pagamento:</strong></label>
                            <label>
                            <input type="radio" name="pagamento" value="credito" checked>Cartão de Crédito
                            </label>
                            <label>
                            <input type="radio" name="pagamento" value="debito">Cartão de Débito
                            </label>
                            <label>
                            <input type="radio" name="pagamento" value="dinheiro">Dinheiro
                            </label>
                        </div>
                        <p></p>
                        <div class="modal-footer">
                            <a href="https://wipsites.com.br"><button style="background: #ac5453; border-radius: 6px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 12px;">Cancelar</button></a>
                            <button type="submit" class style="background: #6bc080; border-radius: 6px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 12px;">Salvar</button>
                            <a href="/index.html" target="_blank"><class style="background: #946362; border-radius: 6px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 12px;">Continuar Comprando</a>
                        <button class style="background: #a08686; border-radius: 6px; padding: 12px; cursor: pointer; color: #fff; border: none; font-size: 13px">Finalizar Compra</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
         <!-- // Associar salvamento ao botao
-->
      <script> document.getElementById ('btn_salvar').addEventListener ('click', salvaLogin);        
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
<footer>
    <div class="align-item: itens">
        <p> Contatos: </p>

        <div style="align-items: flex-end; display: flex; justify-content: center;">
            <a href='https://www.instagram.com/anadinizdoceria/' target="_blank"><img class="logo-icon"
                    src="../../images/174855.png" alt="new-logo"></a>
            <a href='https://www.facebook.com/anadinizbrownies/' target="_blank"><img class="logo-icon"
                    src="../../images/124010.png" alt="new-logo"></a>
            <a href='https://api.whatsapp.com/send?phone=5531998325314' target="_blank"><img class="logo-icon"
                    src="../../images/989997.png" alt="new-logo"></a>
        </div>
    </div>
    <div class="corpyright-footer" style="padding-top: 10px;">
        Copyright 2021 (c) Ana Diniz Doceira
    </div>
</footer>

</body>

</html>
